# Qué comprueba
# * Docstrings obligatorios en módulos, clases y funciones.
# * Variables definidas y usadas (unused-variable, undefined-variable).
# * Evita sentencias inútiles (pointless-statement).


[MASTER]
# Desactiva todo por defecto
disable=all
ignore=tests,UD0_Docker,test
# Activamos únicamente lo que nos interesa
enable=
    missing-docstring,
    unused-variable,
    undefined-variable,
    pointless-statement,

# Ignorar cualquier ruta que incluya /test o /tests (funciona en Windows y Unix)
ignore-patterns=.*[\\/](test|tests)([\\/].*)?

[MESSAGES CONTROL]
# missing-docstring se desglosa en:
# - missing-module-docstring
# - missing-class-docstring
# - missing-function-docstring

[REPORTS]
# Evita que pylint saque la "nota" global del código
# score=no

[FORMAT]
max-line-length=120
