# Qué comprueba
# * Docstrings obligatorios en módulos, clases y funciones.
# * Variables definidas y usadas (unused-variable, undefined-variable).
# * Evita sentencias inútiles (pointless-statement).


[MASTER]
# No analizar carpetas de tests en cualquier nivel
ignore-patterns=.*[\\/](test|tests)([\\/].*)?

# Mantener comportamientos activados (ajusta según necesites)
disable=all
ignore=UD0_Docker
enable=missing-docstring,unused-variable,undefined-variable,pointless-statement

[MESSAGES CONTROL]
# missing-docstring se desglosa en:
# - missing-module-docstring
# - missing-class-docstring
# - missing-function-docstring

[REPORTS]
# Evita que pylint saque la "nota" global del código
# score=no

[FORMAT]
max-line-length=120
